{% extends "common/base.html" %}
{% load static %}
{% load shop_tag %}

{% block title %}Cart Page{% endblock %} 

{% block content %}
    <!-- Navbar Start -->
    {% navbar_category %}
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="{% url 'index' %}">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shopping Cart</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% if products %}
                            {% for product in products %}                        
                                <tr>
                                    <td class="d-flex justify-content-start  align-items-center"><img class="mx-2" src=" {{product.product_image.url}} " alt="{{product.product_title}}" style="width: 50px;"><a href="{% url 'product_detail' product.id %}"> {{product.product_title}}</a></td>
                                    <td class="align-middle text-nowrap">{% currency_tk %}{% product_discount_price product.id %}</td>
                                    <td class="align-middle">
                                        <div class="input-group mx-auto" style="width: 100px;">
                                            <div class="input-group-btn">
                                                <form action="{% url 'add_cart' %}" method="post">
                                                    {% csrf_token %}                                                    
                                                    <input type="text" hidden name="cartpage" value="cartpage">
                                                    <input type="text" hidden name="remove" value="True">
                                                    <input type="text" hidden name="product_id" value="{{product.id}}">
                                                    <button type="submit" class="btn btn-sm btn-primary" ><i class="fa fa-minus"></i></button>
                                                </form>
                                            </div>
                                            <input type="text" class="form-control form-control-sm bg-secondary text-center" value="{% if request.session.cart %} {% product_quantity request.session.cart product.id %}{% else %}1{% endif %}">
                                            <div class="input-group-btn">
                                                <form action="{% url 'add_cart' %}" method="post">
                                                    {% csrf_token %}                                                    
                                                    <input type="text" hidden name="cartpage" value="cartpage">
                                                    <input type="text" hidden name="product_id" value="{{product.id}}">
                                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-nowrap">{% currency_tk %}{% if request.session.cart %} {% product_descrount_with_total_price request.session.cart product.id %}{% else %}0{% endif %}</td>
                                    <td class="align-middle">
                                        <a href="{% url 'cart_item_pop' product.id %}" class="btn btn-sm btn-primary"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">{% currency_tk %}{% if request.session.cart %} {% cat_total_amount request.session %}{% else %}0{% endif %}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">{% currency_tk %}50</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <form action="" method="post">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Total</h5>
                                <h5 class="font-weight-bold">{% currency_tk %}{% if request.session.cart_total_price %}{% total_price_with_shiping_cost request.session.cart_total_price 50 %}{% else %}0{% endif %}</h5>
                            </div>
                            <input type="text" hidden value="{% if request.session.cart_total_price %}{% total_price_with_shiping_cost request.session.cart_total_price 50 %}{% else %}0{% endif %}">
                            {% if request.session.cart %}
                                <a href="{% url 'checkout' %}" type="submit" class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</a>
                            {% else %}
                                <a href="{% url 'shop' %}" type="submit" class="btn btn-block btn-primary my-3 py-3">Continue Shopping</a>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->
{% endblock %}