{% extends "common/base.html" %}
{% load static %}
{% load shop_tag %}

{% block title %}Product Page{% endblock %} 

{% block content %}
    <!-- Navbar Start -->
    {% navbar_category %}
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="{% url 'index' %}">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Checkout</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <form action="{% url 'checkout' %}" method="post">{% csrf_token %}
            <div class="row px-xl-5">
                <div class="col-lg-8">
                    <div class="mb-4">
                        <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>First Name</label>
                                <input class="form-control" type="text" name="fname" placeholder="John" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Last Name</label>
                                <input class="form-control" type="text" name="lname" placeholder="Doe" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>E-mail</label>
                                <input class="form-control" type="text" name="email" placeholder="example@email.com" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Mobile No</label>
                                <input class="form-control" type="text" name="mobile" placeholder="+123 456 789" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Address Line 1</label>
                                <input class="form-control" type="text" name="address" placeholder="123 Street" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>City</label>
                                <input class="form-control" type="text" name="city" placeholder="Dhaka" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>ZIP Code</label>
                                <input class="form-control" type="text" name="zip" placeholder="123" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                        </div>
                        <div class="card-body">
                            <hr class="mt-0">
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-medium">Subtotal</h6>
                                <h6 class="font-weight-medium">{% currency_tk %}{% if request.session.cart %} {% cat_total_amount request.session %}{% else %}0{% endif %}</h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Shipping</h6>
                                <h6 class="font-weight-medium">{% currency_tk %}{{shiping_cost}}</h6>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Total</h5>
                                <input hidden type="text" name="total" value="{% if request.session.cart_total_price %}{% total_price_with_shiping_cost request.session.cart_total_price shiping_cost %}{% else %}0{% endif %}">
                                <h5 class="font-weight-bold">{% currency_tk %}{% if request.session.cart_total_price %}{% total_price_with_shiping_cost request.session.cart_total_price shiping_cost %}{% else %}0{% endif %}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Payment</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="payment_system" value="bkash" id="bkash" checked>
                                <label class="form-check-label" for="bkash">
                                  Bkash
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="payment_system" value="card" id="card" >
                                <label class="form-check-label" for="card">
                                    Card
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="payment_system" value="cash" id="cash" >
                                <label class="form-check-label" for="cash">
                                    Cash On Delivery
                                </label>
                              </div>
                            <p><a href="{% url 'faq_view' %}">How to Pay</a></p>
                            <input class="form-control" type="text" id="bkashTrxID" name="bkashTrxID" placeholder="Enter Bkash TrxID No." required>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            {% if request.user.is_authenticated and request.session.cart %}                            
                                <button type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                            {% elif request.session.cart is not empty %}
                                <button type="button" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                            {% else %}
                                <a href="{% url 'login' %}" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Login</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Checkout End -->


{% endblock %}
{% comment %} script here {% endcomment %}

{% block script %}
<script>
    $('input[type=radio][name=payment_system]').change(function() {
    if (this.value == 'bkash') {
        $("#bkashTrxID").show();
        $('#bkashTrxID').attr("required", true);
    }
    else if (this.value == 'card') {
        $("#bkashTrxID").hide();
        $('#bkashTrxID').removeAttr('required');
    }
    else{
        $("#bkashTrxID").hide();
        $('#bkashTrxID').removeAttr('required');
    }
});
        
</script>    
{% endblock %}