{% extends "common/base.html" %}
{% load static %}
{% load shop_tag %}

{% block title %}Product Detail Page{% endblock %} 

{% block content %}
    <!-- Navbar Start -->
    {% navbar_category %}
    <!-- Navbar End -->

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Shop Detail</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="{% url 'index' %}">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shop Detail</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                        <div class="carousel-item active">
                            <img class="w-100 h-100" src="{{product.product_image.url}} " alt="{{product.product_title}}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">{{product.product_title}}</h3>
                
                <div class="d-flex justify-content-start">
                    <h3>{% currency_tk %} {% discount_amount product.product_price product.discount_price %}</h3><h6 class="text-muted ml-2"><del>{% currency_tk %}{{product.discount_price}}</del></h6>
                </div>
                <div class="d-flex justify-content-start">
                    <p><strong>Quantity</strong>: {{product.quantity}} -{% if product.unit %}{{product.unit}} {% else %}Items{% endif %} </p>
                    <span> ({{product.get_post_type_display}})</span>
                </div>
                <p class="mb-4 text-wrap">{{product.product_description|description_short|linebreaksbr}}<br><a href="#description">See more...</a></p>
                
                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <form action="{% url 'add_cart' %}" method="post">
                                {% csrf_token %}                                                    
                                <input type="text" hidden name="cartpage" value="cartpage">
                                <input type="text" hidden name="remove" value="True">
                                <input type="text" hidden name="product_id" value="{{product.id}}">
                                <button type="submit" class="btn btn-primary" ><i class="fa fa-minus"></i></button>
                            </form>
                        </div>
                        <input type="text" class="form-control bg-secondary text-center" value="{% if request.session.cart %} {% product_quantity request.session.cart product.id %}{% else %}0{% endif %}">
                        <div class="input-group-btn">
                            <form action="{% url 'add_cart' %}" method="post">
                                {% csrf_token %}                                                    
                                <input type="text" hidden name="cartpage" value="cartpage">
                                <input type="text" hidden name="product_id" value="{{product.id}}">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                            </form>
                        </div>
                    </div>
                    <form action="{% url 'add_cart'%}#product_{{ product.id }}" method="post">
                        {% csrf_token %}
                        <input type="text" hidden name="product_id" value="{{product.id}}">
                        <button type="submit" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>
                    </form>
                </div>
                <div class="d-flex pt-2">
                    <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#description">Description</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#reply">Comments</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="description">
                        <h4 class="mb-3">Product Description</h4>
                        <p>{{product.product_description|linebreaksbr }}</p>
                    </div>
                    <div class="tab-pane fade" id="reply">
                        <div class="row">
                            <div class="col-md-6" style="height:300px;overflow-y: auto;">
                                <h4 class="mb-4"> {% if beats  %}{{beats|length }}{% else %}0{% endif %}  Comments for "{{product.product_title}}"</h4>
                                {% if beats %}
                                {% for reply in beats %}
                                    <div class="media mb-4">
                                        <img src="{{reply.user.user_info.profile_pic.url}}" alt="Profile picture" class="img-fluid mr-3 mt-1 rounded-circle" style="width: 45px;">
                                        <div class="media-body">
                                            <h6>{{ reply.user.username }}<small> - <i>{{reply.create_date|timesince}} ago</i></small></h6>
                                            <div class="text-primary mb-2">
                                                <a href="tel:{{beat.user.user_info.phone}}">{{reply.user.user_info.phone}}</a><br>
                                                <p>Address: {{reply.user.user_info.address}}</p>
                                            </div>
                                            <p>{{reply.reply}}</p>
                                        </div>
                                    </div>                                
                                {% endfor %}
                                {% else %}
                                No Comments
                                {% endif %}

                            </div>
                            <div class="col-md-6">
                                <h4 class="mb-4">Leave a Comments</h4>
                                <form action="{% url 'reply' %}" method="post" >
                                    {% csrf_token %}
                                    <input hidden type="text" name="product_id" value="{{product.id}}">  
                                    <div class="form-group">
                                        <label for="message">Your Comment *</label>
                                        <textarea id="message" name="reply" cols="30" rows="5" class="form-control" required></textarea>
                                    </div>
                                    <div class="form-group mb-0">
                                        <input type="submit" value="Leave Your Comments" class="btn btn-primary px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->

    <!-- Products Start -->
    <div class="container-fluid py-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">You May Also Like</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel related-carousel">
                    {% if related_products %}
                        {% for related_product in related_products %}                            
                            <div class="card product-item border-0" style="height:400px;" >
                                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                    <p class="text-light bg-primary py-2 px-2 rounded-2 d-flex justify-content-between w-100" style="position:absolute;"> <span>{{product.quantity}}/{% if product.unit %}{{product.unit}}'s{% else %}Items{% endif %}</span> <span>{{product.get_post_type_display}}</span></p>
                                    <img class="img-fluid" style="height:350px;width:100%;" src="{{related_product.product_image.url}}" alt="{{related_product.product_title}}">
                                </div>
                                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                    <h6 class="text-truncate mb-3">{{related_product.product_title}}</h6>
                                    <div class="d-flex justify-content-center">
                                        <h6>{{related_product.discount_price}}</h6><h6 class="text-muted ml-2"><del>{{related_product.product_price}}</del></h6>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between bg-light border">
                                    <a href="{{ related_product.get_absolute_url }}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                    <form action="{% url 'add_cart'%}#product_{{ related_product.id }}" method="post">
                                        {% csrf_token %}
                                        <input type="text" hidden name="product_id" value="{{related_product.id}}">
                                        <button type="submit" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</button>
                                    </form> 
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <!-- Products End -->

{% endblock %}